

<p>Salut! Veuillez confirmer votre email!</p>

	
</p>
<br>
<p>Une demande de réinitialisation de mot de passe a été effectuée pour le site Voisinage. Veuillez cliquer sur le lien suivant:</p>



<br>

<a href="{{ url }}">Cliquer ici pour confirmer</a>
