{% extends "admin.html.twig" %}

{% block body %}

<div class="alert alert" role="alert">
    <h4 class="alert-heading">A propos!</h4>
    <p>Outil pour renforcer vote réseau professionnel ou amical,
    échanger des services est enfin devenu plus facile,et
    favorise l'entraide et les échanges de services entre voisins
        .</p>
    <hr>
    <p class="mb-0">DevProd Solution <i class="fas fa-heart" style="color: red;"></i> .</p>
</div>
    
{% endblock %}