

<p>Salut! Veuillez confirmer votre email!</p>

	
</p>
<br>
<p>Veuillez confirmer votre adresse e-mail en cliquant sur le lien suivant :</p>


<br>

<a href="{{ url('confirm_account', {"token": token}) }}">Cliquer ici pour confirmer votre compte</a>
