{% extends "profile.html.twig" %}

{% block body %}
<div class="container emp-profile">
    <h1>Modifer votre coordonnées</h1>
    {{form_start(form)}}
    {{form_widget(form)}}
    {{form_end(form)}}
</div>
{% endblock %}