{% extends "profile.html.twig" %}


{% block body %}
	<div class="container emp-profile">
		<h1>Modifer demandes</h1>
		{% for message in app.flashes('success') %}
			<div class="alert alert-primary">
				{{ message }}
			</div>
		{% endfor %}
	
			
				{{form_start(form)}}
				{{form_widget(form)}}
				{{form_end(form)}}
		

	</div>
{% endblock %}

