{% extends 'admin.html.twig' %}

{% block title %}New Categorie{% endblock %}

{% block body %}
    <h1>Create new Categorie</h1>
    
    {{ include('categorie/_form.html.twig') }}

    <a href="{{ path('categorie_index') }}" class="btn btn-info" style="margin-top: 10px;">retour à la liste</a>
{% endblock %}
